*.suo
*.user
*.sln.docstates
*.userprefs
*.dll.mdb
*.exe.mdb
*.deb
*.zip
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
[Dd]ist/
dist-vege/
webpack-assets.json
webpack-stats.json
webpack-analysis.html
msbuild.binlog
publish/
.idea/
.tye/
data/postgres
src/LMS.Borrowing.API/Internal/
